@use '@/shared/styles/global.scss' as *;

.container {
  @include flex-row(between, center);
  margin-bottom: $space-md;
  gap: $space-md;
}

.title {
  @include font-text(heading-large);
  color: var(--text-primary);
}

.buttons {
  @include flex-row;
  gap: $space-xs;
}
