@use '../../../../shared/styles/global' as *;

.edit-button {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 100%;
  border: 1px solid var(--border-default);
  position: relative;
}

.edit-icon {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 100%;
  border: 1px solid var(--border-strong);
  @include flex-column;
  position: absolute;
  bottom: 0;
  right: -0.275rem;
  background-color: var(--surface-default);
}

.edit-input {
  display: none;
}
