@use '@/shared/styles/global' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  padding: $space-xs;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: $space-xs;
  align-items: start;
}

.title {
  @include font-text(body-large);
  color: var(--text-primary);
}

.buttons {
  display: flex;
  gap: $space-xs;
}

.button {
  border: 1px solid var(--border-strong);
  border-radius: 0.8rem;
  padding: $space-xxs;
  width: 5rem;
  @include font-text(caption-medium);
  flex-shrink: 0;

  &:hover {
    background-color: var(--surface-primary);
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  text-align: start;
}

.detail {
  color: var(--text-secondary);
  @include font-text(caption-small);
}
