@use '@/shared/styles/global' as *;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-result {
  overflow: auto;
}

.underline {
  border: 0.5px solid var(--border-strong);
  width: 100%;
  display: block;
}
