@use '@/shared/styles/global' as *;

@mixin disable {
  &:disabled {
    color: var(--text-disabled);
    cursor: default;
  }
}

.button {
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $space-xs;
  gap: $space-xxs;
}

.primary-button {
  background-color: var(--surface-brand);
  color: var(--text-default);
  @include disable;

  &:hover {
    background-color: var(--surface-brand-hover);
  }
}

.secondary-button {
  background-color: var(--surface-default);
  border: 1px solid var(--border-strong);
  color: var(--text-tertiary);
  @include disable;

  &:hover {
    background-color: var(--surface-primary);
  }
}

.lg-button {
  @include font-text('label-large');
  max-width: 36rem;
  height: 4.8rem;
  width: 100%;
}

.md-button {
  @include font-text('label-medium');
  min-width: 8rem;
  height: 2.8rem;
}

.sm-button {
  width: 4rem;
  height: 4rem;
}
