@use '@/shared/styles/global.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $space-xxl;
  align-items: center;
  height: 100%;
}

.title {
  @include font-text(heading-large);
  color: var(--text-primary);
  text-align: center;
}

.content {
  width: 100%;
  flex: 1;
}
