@use '@/shared/styles/global.scss' as *;

.header {
  @include flex-row(between, center);
  padding: 0 $space-md;
  border-bottom: 1px solid var(--border-default);
}

.header__user-actions {
  @include flex-row;
  gap: $space-xs;
}

.theme-button {
  @include font-text(body-medium);
  color: var(--text-primary);
}
