@use './spacing-system' as spaceValue;
@use './font-value' as fontValue;
@use './font-system' as fontSystem;
@use './color-system' as colorSystem;
@use 'sass:map';

@mixin text-overflow-ellipsis($lines: 1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @if $lines > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
