@use '../../styles/global' as *;

.wrapper {
  min-height: 100vh;
  @include flex-row;
}

.container {
  width: 100%;
  padding: $space-xs;
}

.service-information-container {
  @include flex-column;
  gap: $space-md;
  margin-bottom: $space-xxl;
}

.signin-container {
  @include flex-column;
  gap: $space-md;
}
