@use '@/shared/styles/global' as *;

.container {
  width: 100%;
  @include flex-row(between, center);
  margin-bottom: $space-md;
}

.title {
  @include font-text(heading-medium);
  color: var(--text-primary);
  @include util-text-overflow-ellipsis;
}
