@use '@/shared/styles/global' as *;

.pagination-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination__controller {
  display: flex;
  gap: $space-xs;
  justify-content: center;
}

.pagination__button {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0.8rem;
  @include font-text(label-medium);

  @media (max-width: $media-tablet) {
    width: 2.8rem;
    height: 2.8rem;
  }

  @media (max-width: $media-mobile) {
    width: 2.4rem;
    height: 2.4rem;
    @include font-text(label-small);
  }
}

.pagination__button--active {
  background-color: var(--surface-brand);
  color: var(--text-default);
}

.pagination__button--inactive {
  background-color: var(--surface-default);
  border: 1px solid var(--border-strong);
  color: var(--text-secondary);
  &:hover {
    background-color: var(--surface-tertiary);
  }
}

.pagination__button--disabled {
  background-color: var(--surface-default);
  border: 1px solid var(--border-strong);
  color: var(--text-disabled);
}
