@use '../../../shared/styles/global' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-md;
}

.introduce {
  @include font-text('heading-small');
  color: var(--text-primary);
}

.lg-logo {
  color: var(--text-brand);
  @include font-text('display-large');
}

.md-logo {
  color: var(--text-brand);
  @include font-text('display-small');
}
