@use '@/shared/styles/global' as *;

.full-card {
  width: 100%;
}

.md-card {
  width: 24rem;
}

.wrapper {
  background-color: var(--surface-default);
  position: relative;

  &:hover .image {
    transform: scale(1.05);
  }
}

.wrapper--border {
  border: 1px solid var(--border-default);
  border-radius: 0.8rem;
}

.tag {
  position: absolute;
  top: $space-xs;
  right: $space-xs;
}

.image-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s ease-out;
}

.content {
  padding: $space-xs;
  @include flex-column;
  gap: $space-xs;
  text-align: start;
}

.title {
  width: 100%;
  @include font-text(heading-small);
  color: var(--text-primary);
  @include util-text-overflow-ellipsis;
}

.detail-container {
  width: 100%;
  @include flex-column;
  gap: $space-xxs;
}

.detail {
  width: 100%;
  color: var(--text-secondary);
  @include font-text(body-medium);
  @include util-text-overflow-ellipsis;
}

.meta-container {
  @include flex-column;
  gap: $space-xxs;
  width: 100%;
}

.meta {
  width: 100%;
  color: var(--text-tertiary);
  @include font-text(caption-small);
  @include util-text-overflow-ellipsis;
}
