@use '@/shared/styles/global.scss' as *;

.container {
  gap: $space-xxs;
  padding: $space-xxs $space-xs;
  @include font-text(caption-small);
  border-radius: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.primary-badge {
  color: var(--text-default);
  background-color: var(--surface-brand);
  border: 1px solid var(--border-default);
}

.secondary-badge {
  color: var(--text-default);
  background-color: var(--surface-black);
  border: 1px solid var(--border-default);
}

.tertiary-badge {
  color: var(--text-tertiary);
  background-color: var(--surface-disabled);
  border: 1px solid var(--border-default);
}
