@use '@/shared/styles/global.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  padding: $space-sm;
}

.content-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 28rem 1fr;
  grid-template-areas: 'location map';
  overflow: hidden;
  height: 100%;

  @media (max-width: $media-tablet) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'map' 'location';
  }
}

.locationSection {
  grid-area: location;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.mapWrapper {
  grid-area: map;
  height: 100%;
  width: 100%;
}
