@use '@/shared/styles/global' as *;

.crew-information {
  display: flex;
  flex-direction: column;
  gap: $space-md;

  .overlay-image-wrapper {
    position: relative;
    margin-top: -$space-md;
    margin-left: -$space-md;
    margin-right: -$space-md;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--surface-black);
    opacity: 0.6;
    z-index: 2;
    margin-left: -$space-md;
    margin-right: -$space-md;
  }

  .image-wrapper {
    max-height: 56rem;
    aspect-ratio: 16 / 9;
    position: relative;
    margin: 0 auto;
  }

  .detail-content {
    width: 100%;
    margin: 0 auto;
    max-width: $media-desktop;
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }

  .buttons {
    display: flex;
    justify-content: end;
    gap: $space-xs;
  }
}
